.overlay, .overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 9; /* Чтобы затемнение было выше контента */
}

.overlay2 {
    z-index: 7 !important;
}

.overlay.active, .overlay2.active {
    opacity: 1;
    visibility: visible;
}

.menu, .titlebar {
    z-index: 10; /* Меню должно быть выше затемнения */
}

.mat {
    font-family: 'Material Icons';
}

/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu1.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu2.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
  /* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu3.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
  /* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu4.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
  /* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu5.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/Ubuntu6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Material_Icons.woff2) format('woff2');
}

@font-face {
    font-family: Gensh;
    src: url(fonts/genshin-impact.woff2) format("woff2"),
      url(fonts/genshin-impact.woff) format("woff"),
      url(fonts/genshin-impact.ttf) format("truetype");
}
  
@font-face {
    font-family: "Genshin Impact";
    src: url(fonts/genshin-impact.woff2) format("woff2"),
      url(fonts/genshin-impact.woff) format("woff"),
      url(fonts/genshin-impact.ttf) format("truetype");
}

.gen {
    font-family: 'Genshin Impact';
}

a, span, th, td {
    color: #c1c1c1;
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4a4a4a;
}

/* Блокируем прокрутку */
body.no-scroll {
    overflow: hidden;
}


.titlebar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    height: 50px;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    user-select: none;
}

.menu-button {
    font-family: 'Material Icons';
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-button.active {
    transform: rotate(90deg);
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0;
    background: #444;
    overflow: hidden;
    transition: height 0.3s ease;
    position: fixed;
}

.menu.active {
    height: auto;
    padding-bottom: 12px;
}

.menu-items {
    padding: 10px;
    color: white;
    text-align: center;
}

.menu-item {
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icons {
    width: 35px;
}

.menu-item:hover {
    background: #ffffff27;
    padding: 5px;
    color: white;
    text-align: center;
}

.menu-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}










.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Фон уходит назад */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 212px;
    padding-bottom: 20px;
    background: transparent;
    /*z-index: 1;*/
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    max-width: 800px;
    margin: 20px auto;
    position: fixed;
    top: 50px; /* Чтобы фильтр был ниже titlebar */
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    z-index: 8;
}

.filters.hidden {
    display: none;
}

.filters.open {
    display: flex;
}

/* Кнопка для открытия фильтра */
.filters-toggle-button {
    position: fixed;
    top: 70px;
    right: -10px;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 8;
    display: none; /* Скрыта по умолчанию */
}

.filters-toggle-button.show {
    display: block;
}


.filters input,
.filters select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #444;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

.filters input::placeholder {
    color: #bbb;
}

.filters input:focus,
.filters select:focus {
    border-color: #ff9800;
    box-shadow: 0 0 8px rgba(255, 152, 0, 0.8);
}

.filters input {
    flex: 1 1 250px;
    min-width: 150px;
}

.filters select {
    flex: 1 1 100px;
    min-width: 89px;
    cursor: pointer;
}

/* 📱 Для мобильных */
@media (max-width: 600px) {
    .filters {
        min-width: 240px;
        max-width: 290px;
        display: grid;
        padding: 8px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 3px;
    }

    .filters input#search {
        grid-column: span 3;
    }
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
}

.character-card {
    display: block;
    width: 250px;
    text-decoration: none;
    border-radius: 5px;
    color: #c4c4c4;
    background-color: #313131;
    user-select: none;
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для старых версий IE */
}

.namecard {
    display: grid;
    width: 250px;
    height: 120px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    border-radius: 5px 5px 0 0;
    gap: 5px;
    grid-template-columns: 3fr 1fr; /* Две колонки */
    grid-template-rows: auto auto; /* Две строки */
    grid-template-areas: 
        "left right1"
        "left right2";
}

.character-icon {
    height: 120px;
    grid-area: left;
}

.character-element {
    width: 50px;
    grid-area: right1;
    margin-top: 5px;
}

.character-weapon {
    width: 50px;
    grid-area: right2;
}

.character-element, .character-weapon {
    background: #313131b2;
    border-radius: 6px;
}

.bottom-namecard {
    width: 250px;
    line-height: 25px;
    display: grid;
    text-align: center;
    padding: 1px;
}

.character-name {
    font-size: 23px;
}

.character-rarity {
    font-size: 25px;
    color: #FFD700;
}







.character-prof-icon {
    width: 128px;
    border-radius: 15px;
}

.character-prof-gacha {
    min-width: 600px;
    max-width: 600px;
    position: fixed;
}

.page-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Создаем 2 колонки одинаковой ширины */
    gap: 10px;
    margin: 0 50px;
}

.page-top-left {
    padding-top: 30px;
}

.cis {
    width: 128px;
    position: relative;
}

.cis-2 {
    display: flex;
    width: 128px;
    flex-direction: column;
    text-align: center;
}

.character-prof-element {
    width: 35px;
    position: absolute;
    background: #1e1e1e82;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.character-prof-name {
    font-size: 20px;
}

.character-prof-rarity {
    font-size: 25px;
    color: #FFD700;
    line-height: 25px;
}

.detail {
    display: block;
    padding-top: 10px;
}

.page {
    background: #00000085;
    border-radius: 10px;
    margin: 0px 50px;
    height: 1888px;
}








/* 📱 Для мобильных */
@media (max-width: 600px) {
    .filters {
        min-width: 240px;
        max-width: 290px;
        display: grid;
        padding: 8px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 3px;
    }

    .filters input#search {
        grid-column: span 3;
    }

    .page {
        margin: 0;
        border-radius: 0;
        /*margin-top: 400px;*/
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .page-top {
        display: block;
        position: relative;
        margin: 0;
    }

    .page-top-left {
        position: absolute;
        display: grid;
        justify-items: center;
    }

    .character-prof-gacha {
        min-width: 780px;
        max-width: 780px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
        z-index: -1;
    }
    .page-top-right {
        height: 350px;
    }

    .cis-2 {
        background: #000000b2;
        padding: 10px;
        border-radius: 6px;
        width: 148px;
    }

    .character-prof-element {
        top: 10px;
        left: 10px;
    }

    .detail {
        background: #000000b2;
        padding: 0;
        margin: 10px 10px;
        padding: 5px;
        border-radius: 6px;
    }
}